<!--Menu-->
<div class="header2">
  <app-menu></app-menu>
</div>
<img src="assets/images/rafael.png" class="img-fluid" alt="Responsive image" />
<div>
  <br />
  <div class="container">
    <!--About me-->
    <section class="bg-gray" id="goAboutMe">
      <div class="container text-center text-lg-left">
        <div class="row align-items-center">
          <div class="col-lg-7">
            <h2 class="divider-heading">About me <br /></h2>
            <div class="row">
              <div class="col-lg-10">
                <p class="lead divider-subtitle mt-2 text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing. Vitae
                  animi mollitia cumque sunt soluta. consectetur adipisicing.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-5 mt-5 mt-lg-0">
            <img
              src="assets/images/rafael-moreno.png"
              alt=""
              class="divider-image img-fluid"
            />
          </div>
        </div>
      </div>
    </section>
  </div>
  <hr />
  <br />
  <br />
  <!--Skills-->

  <section class="bg-gray" id="goSkills">
    <div class="container">
      <div class="text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Skills</h2>
          </div>
        </div>
      </div>
      <div class="clients mt-5">
        <div class="row">
          <div class="col-lg-2">
            <img src="assets/images/html5.png" alt="" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img src="assets/images/css3.png" alt="" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img
              src="assets/images/javascript.png"
              alt=""
              class="client-image img-fluid"
            />
          </div>
          <div class="col-lg-2">
            <img
              src="assets/images/angular.png"
              alt=""
              class="client-image img-fluid"
            />
          </div>
          <div class="col-lg-2">
            <img
              src="assets/images/vue.png"
              alt=""
              class="client-image img-fluid"
            />
          </div>
          <div class="col-lg-2">
            <img
              src="assets/images/nodejs.png"
              alt=""
              class="client-image img-fluid"
            />
          </div>
          <div class="col-lg-2">
            <img
              src="assets/images/mongodb-226029.png"
              alt=""
              class="client-image img-fluid"
            />
          </div>
          <div class="col-lg-2">
            <img
              src="assets/images/wordpress.png"
              alt=""
              class="client-image img-fluid"
            />
          </div>
          <div class="col-lg-2">
            <img
              src="assets/images/mysql.png"
              alt=""
              class="client-image img-fluid"
            />
          </div>
          <div class="col-lg-2">
            <img
              src="assets/images/photo.png"
              alt=""
              class="client-image img-fluid"
            />
          </div>
          <div class="col-lg-2">
            <img
              src="assets/images/premiere.png"
              alt=""
              class="client-image img-fluid"
            />
          </div>
          <div class="col-lg-2">
            <img
              src="assets/images/figma.png"
              alt=""
              class="client-image img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr />
  <br />
  <br />
  <!--Projects-->
  <section class="pb-0" id="goProjects">
    <div class="container">
      <div class="text-center">
        <h2>Projects</h2>
      </div>
      <div class="portfolio mt-5">
        <div class="row">
          <div class="col-lg-4 p-0">
            <a
              href="http://armoniaconadriana.epizy.com/"
              data-lightbox="image-1"
              data-title="Some footer information"
              class="portfolio-item"
              ><img src="assets/images/wordpressadriana.png" class="img-fluid"
            /></a>
          </div>
          <div class="col-lg-4 p-0">
            <a
              href="#"
              data-lightbox="image-1"
              data-title="Some footer information"
              class="portfolio-item"
              ><img src="assets/images/wordpressprofe.png" class="img-fluid"
            /></a>
          </div>
          <div class="col-lg-4 p-0">
            <a
              href="#"
              data-lightbox="image-1"
              data-title="Some footer information"
              class="portfolio-item"
              ><img src="assets/images/vuesystem.png" class="img-fluid"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr />
  <!--Contact-->
  <br />
  <br />
  <section id="goContact">
    <div class="container">
      <div class="text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact</h2>
          </div>
        </div>
      </div>
      <div class="integrations mt-5">
        <div class="row">
          <div class="col-lg-4">
            <div class="box text-center">
              <div class="icon d-flex align-items-end">
                <img
                  src="assets/images/whatsapp.png"
                  alt="..."
                  class="img-fluid"
                />
              </div>
              <br />
              <h3 class="h4">Whatsapp</h3>
              <br />
              <p class="text-small font-weight-light">
                <a href="https://wa.link/jfinv8">
                  <b>My number: +58-4246414881</b></a
                >
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="box text-center">
              <div class="icon d-flex align-items-end">
                <img src="assets/images/gmail.png" class="img-fluid" />
              </div>
              <br />
              <h3 class="h4">Gmail</h3>
              <br />
              <p class="text-small font-weight-light">
                <a href="mailto:rafaelmoreno210900@gmail.com">
                  <b>rafaelmoreno210900@gmail.com</b></a
                >
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="box text-center">
              <div class="icon d-flex align-items-end">
                <img
                  src="assets/images/instagram.png"
                  alt="..."
                  class="img-fluid"
                />
              </div>
              <br />
              <h3 class="h4">Instagram</h3>
              <br />
              <p class="text-small font-weight-light">
                <a href="https://www.instagram.com/rafaelmorenoac/">
                  <b>@rafaelmorenoac</b></a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br />

  <!--Footer-->
  <div class="header1">
    <app-footer></app-footer>
  </div>
</div>
